.title{
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    position: relative;
    &::before{
        content: "";
        left: 0;
        position: absolute;
        bottom: 0;
        width:6rem;
        height: .4rem;
        background-color: rgba(3, 129, 255, 0.267);
        }
    &::after{
        content: "";
        left: 0;
        position: absolute;
        bottom: 0;
        width: 3rem;
        height: .4rem;
        background-color: #037FFF;
        }
}